# This pipeline will trigger on every PR change as well as for new tags
pr:
  autoCancel: true

trigger:
  tags:
    include: ['v*.*.*']

variables:
  - group: global-variables

stages:
- stage: build
  displayName: "Stage: Build and Release"

  jobs:
  - job: Build
    displayName: "Build, Test, Scan, Release"
    pool: shared
    workspace:
      clean: all

    steps:

    - script: make build
      displayName: "Build image"

    - script: make test
      displayName: "Test image"

    - script: make twistscan
      env:
        TWISTLOCK_USER: $(TWISTLOCK_USER)
        TWISTLOCK_PASS: $(TWISTLOCK_PASS)
      displayName: "Scan image"

    - ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/') }}:
      - script: |
          docker login -u $(DOCKER_HUB_USER) -p $(DOCKER_HUB_PASS)
        env:
          DOCKER_HUB_USER: $(DOCKER_HUB_USER)
          DOCKER_HUB_PASS: $(DOCKER_HUB_PASS)
        displayName: 'Perform docker login to mx51io'

      - script: make release
        displayName: "Release image"


- ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/') }}:
  - stage: runtime
    displayName: "Stage: Runtime Test"
    dependsOn: build

    jobs:
    - job: Runtime
      pool: shared
      workspace:
        clean: all

      steps:

      - script: make testruntime
        displayName: "Perform runtime test"
